html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main{
    background-color: #4B897D;
    width: 100%;
    height: 100%;
}
.skin-blue .wrapper{
    background-color: #e1e7da !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e8e7e7 ;
}
tbody{
    font-weight: 100 !important;
}
.padding-error{
    padding: 5px;
}
.cargar{
    color: white;
    font-size: 16pt;
    margin: 10pt;
}

table, .modal-dialog{
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    overflow: hidden;
}

div:not(.modal-content) ,section
{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.dm{
    border-radius: 0px !important;
}

.modal-header
{
    border-radius: 0px !important;
}


.colorpicker, .colorpicker * {
    z-index: 9999;
}

body.no-menu .content-wrapper, body.no-menu .main-footer {
    margin-left: 0px !important;
}
.margin-right-2{
    margin-right: 2px !important;
}
.popover{
    max-width: none !important;
}
.btn.redondo {
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
}
.btn{
    border-radius: 3px !important;
}

.box-header div .btn{
    border-radius: 0px !important;
}

.modal-dialog .close
{
    color: #FFF;
    opacity: .85;
}

.modal-dialog .close:hover
{
    color: #FFF;
    opacity: 1;
}

.modal-dialog .close:focus
{
    border-width: 0px;
}

.cursor-pointer{
    cursor: pointer;
}
.image-editor{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.image-editor:hover {opacity: 0.7;}

.img-responsive img{
    display: block;
    max-width: 100%;
    height: auto;
}
.content-wrapper{
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 15% ,25%;
}
.focus-error{
    border-bottom: 1px solid red !important;
}
.block-float{
    position: fixed;
    z-index: 1000;
    bottom: 10%;
    right: 1.5%;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.text-x-large{
    font-weight: 900;
    font-size: x-large;
}

.btn-green-club, .bg-green-club{
    background-color: #4B897D;
    color: white;
}
.btn.btn-green-club:hover , .btn.btn-green-club:focus {
    color: #eaeaea;
    background-color: #45b29d;
}
.btn-red-club, .bg-red-club{
    background-color: #c73332;
    color: white;
}
.btn.btn-red-club:hover , .btn.btn-red-club:focus {
    color: #eaeaea;
    background-color: red;
}
.input-icon i {
    color: #4b897d !important;
}
.label.label-radius{
    border-radius: 50% !important;
    position: absolute !important;
    top: unset;
    transform: translate(-1px,-1px);
    width: 12px;
    height: 12px;
    padding: 0 !important;
    font-weight: bolder;
    color: #fff;
    font-size: 12px;
    background-color: #0a819c !important;
}
@media (max-width: 768px) {
    .btn {
        padding: 1px 5px 2px 5px !important;
    }
}
table>tbody>tr>td:not(.notHidden) a:not(.notHidden) {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    max-height: 20px;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

ul.ui-autocomplete {
    width: 40% !important;
    padding: 5px !important;
    z-index: 10000 !important;
}


/*#######################*/
/*ANIMATION*/
.user-panel {
    height: 60px !important;
    padding: 10px  !important;
    position: relative  !important;
    transition-duration:.5s  !important;
}

.user-panel>*{
    display: inline-block  !important;
    border-radius:0px !important;
    float: left !important;
    line-height: 40px !important;
}

.user-panel>.info{
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-panel *{
    position: relative  !important;
    transition-duration:.5s  !important;
    left: 0px !important;
    top:0px !important;
}

.user-panel:hover{
    background: #222 !important;
}

.user-panel:hover>.image{
    transform: translateX(-60px) !important;
    width: 0% !important;
}

.user-panel:hover>.info{
    transform: translateX(-5px) !important;
    width:95%  !important;
}

.user-panel:hover>.info:after, .user-panel:hover>.info:before {
    transform: scale(1) !important;
}

.user-panel>.image {
    height: 100%  !important;
    width:30%  !important;
    max-width:50px  !important;
}

.user-panel> .image > img {
    max-width: 40px  !important;
    min-width: 40px  !important;
    max-height: 40px  !important;
    border: 2px solid #FFF !important;
}

.user-panel>.info {
    padding: 0px 10px !important;
    height: 100% !important;
    position: relative !important;
    width:60% !important;
}

.user-panel>.info:before {
    border-bottom: 1px solid #4B897D !important;
    border-left: 1px solid #4B897D !important;
    transform-origin: 100% 0% !important;
}

.user-panel>.info:after {
    border-top: 1px solid #4B897D !important;
    border-right: 1px solid #4B897D !important;
    transform-origin: 0% 100% !important;
}

.info:before, .info::after {
    border-radius:5px !important;
    width: 100% !important;
    height:100% !important;
    content:'' !important;
    position: absolute !important;
    top:0 !important;
    left:0 !important;
    transition: 0.5s !important;
    -webkit-transform: scale(0) !important;
}

.treeview>a{
    transition-duration:.5s !important;
}

.sidebar-collapse .user-panel>.image>img {
    width: 30px !important;
    height: 30px !important;
    min-width: 0px !important;

}

.sidebar-collapse .user-panel:hover>.image {
    transform: translateX(0px) !important;
}

.sidebar-collapse .user-panel>.image {
    width: 100% !important;
    padding: 0px !important;
}

.sidebar-collapse .user-panel:hover>.image>img {
    border-color: #45b29d !important;
    border-radius: 10px !important;
}
.btn-transparent, .btn-transparent:focus,.btn-transparent:active,.btn-transparent:visited{
    border: transparent;
    background: transparent;
    outline: transparent;
}

*::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

*::-webkit-scrollbar-track {
    background: #ECF0F5 !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #4B897D !important;
    outline: none;
}

form-view .img-drop-area {
    max-height: 120px !important;
}


body {
    transition: .2s;
    overflow: scroll !important;
}

body::-webkit-scrollbar-track {
    background: rgb(236, 240, 245) !important;
}


register-full .nav-btn:disabled{
    display:none !important;
}

register-full .view-data-internal{
    border-radius: 10px !important;
}

.datepicker span{
    border-radius: 50% !important;
    overflow: hidden;
    width: 35px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

i.icon-arrow-right,i.icon-arrow-left {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

i.icon-arrow-right:before {
    content: "\f0da";
}

i.icon-arrow-left:before {
    content: "\f0d9";
}

span.month.active,span.year.active,span.day.active,
.datepicker span:hover, .datepicker th:hover{
    background: #4B897D !important;
    color: white;
}

.datepicker span, .datepicker th{
    transition: 0.3s;
}

input.form-control {
    color: #333 !important;
}

.content .content {
    padding: 0 !important;
}

.modal-dialog .modal-body{
    max-height: 450px;
    overflow-y: scroll;
}

body{
    padding: 0 !important;
}

.bootstrap-tagsinput{
    width: 100% !important;
    flex: 1 0;
}

.image-multiple .required-msg {
    display: none !important;
}