.blue   .main-sidebar{
  background-color: #333 !important;
}

.wrapper{
  background-color: #ecf0f5 !important;
}

.content-wrapper{
  border-radius: 0px !important;

}

.main-footer-container{
  background-color: #333 !important;
}

.truncate{
  text-overflow: ellipsis;
  overflow: hidden;
}

.treeview-menu{
  margin-top: -2px !important;
  display: block;
  overflow: hidden;
}

.tab-content{
  background: black;
}

.control-sidebar-dark{
  background: transparent;
}

.cargar{
  color: white;
  font-size: 16pt;
  margin: 10pt;
}

.padding-error{
  padding: 5pt;
}

.padding-top-4{
  padding-top: 4pt;
}

.img-search{
  width: 28pt;
}

.form-margin{
  margin-bottom: 10pt;
}

.z-index{
  z-index:1;
}

.alert{
  margin-bottom: 0px !important;
}


.modal-fullscreen {
  background: transparent;
}

.modal-fullscreen  .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
  background: #FFF;
}

.modal-backdrop.modal-backdrop-fullscreen.in{
  opacity: .97;
  filter: alpha(opacity=97);
}

.modal-fullscreen   .modal-dialog{
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .modal-fullscreen  .modal-dialog {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .modal-fullscreen  .modal-dialog {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .modal-fullscreen   .modal-dialog {
    width: 1170px;
  }
}

.version{
  background-color: rgb(165, 165, 165);
  font-weight: 100;
  font-size: small;
  color: white;
}

.modal   .modal-dialog   .modal-content {
  background: #FFF;
}

.modal.in   .modal-dialog:not(.send){
  width: 80%;
}

.a-menu-modal{
  color: #fff;
}

.menu-modal   .col-lg-2.col-md-2 {
  height: 100px;
  text-align: center;
}

.menu-modal   i{
  font-size: 50pt;
}

.subir-top{
  
}

.logo{
  padding: 0px;
  border-right: 5px solid #333;
  background-color: #333 !important;
}

.img-logo{
  position: relative;
  height: 60px;
  left: 0px;
  margin: 0 auto;
}


.user-menu   .dropdown-menu {
  display:block !important;
  max-height: 0px !important;
  width: 250px !important;
  right: 0px !important;
  padding:0px !important;
  border:0px !important;
  z-index:999 !important;
  top:0px;
  overflow: hidden;
  transition:.5s cubic-bezier(0.58, -0.85, 0.53, 1.42);
}

.user-menu.open   .dropdown-menu{
  top: 50px;
  max-height: 200px !important;
  height: auto;
  padding: 0px !important;
  background:#f9f9f9;
  border: 1px solid #4B897D !important;
  border-radius: 0px 0px 10px 10px !important;
}

.user-header{
  height: 110px !important;
  padding: 10px !important;
  border: 2px solid #4B897D !important;
}

.user-header   img{
  height:90px !important;
  width: 90px !important;
  padding: 1px !important;
  background:#45b29d;
  border: 3px solid #4b897d !important;
  box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.user-footer {
  height: 40px !important;
  padding:0px !important;
  overflow: hidden;
}

header.main-header{
  box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  z-index:1000;
}

.user-menu   .dropdown-toggle {
  width: 250px !important;
  z-index:10001;
}

.user-menu.open   a.dropdown-toggle {
  box-shadow:2px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.user-btns {
  padding:0px !important;
  overflow:hidden;
  height:100% !important;
  border-radius:0px !important;
  background:#4B897D
}

.user-btns   *{
  display: inline-block;
  width: 49.5%;
  border-radius:0px !important;
  height:100% !important;
  line-height:100% !important;
}

.toggle-grid{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
}

.toggle-grid:hover{
  background-color: #45b29d;
}

.navbar    > a{
  font-size: 18px;
}

.grid-menu {
  position: fixed;
  display: flex;
  /*justify-content: center;*/
  justify-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 /* background-color: rgba(43, 43, 43, 0.8);*/
  background: url('../public/assets/img/images.jpg') no-repeat  !important;
  z-index: 20000;
  opacity: 0;
  transform: scale(2);
  transition: .2s;
}
.transition-menu{
  opacity: 1;
  transform: scale(1);
}

.grid-menu    > .close-btn{
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  position: fixed;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: .2s;
}
.grid-menu    > .close-btn:hover{
  background-color: rgba(119, 119, 119, 0.76);
}

.grid-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 300px;
  margin: 20px 20px auto 20px;
  box-sizing: content-box;
}

.grid-item {
  display: flex;
  height: 80px;
  width: 80px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  transition: .5s;
  border-radius: 2px;
}
.grid-item:hover{
  display: flex;
  transform: scale(1.1);
  background-color:#441f055e;
}
.grid-item    > a{
  color: white;
}
.grid-item   .icons{
  font-size: 40px;
}



.modal-img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 1000;
}

.modal-img > .back{
  position: absolute;
  background: rgba(51, 51, 51, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s;
}
.modal-img.active > .back{
  opacity: 1;
}

.modal-img > .frame{
  z-index: 1;
  padding: 10px;
  background: #FFF;
  box-shadow: 0px 2px 10px -2px #333;
  border-radius: 2px;
  transform: scale(0);
  opacity: 0;
  transition: .5s;
}

.modal-img.active    > .frame {
  transform: scale(1) !important;
  opacity: 1 !important;
}

@media (max-width: 767px) {
  .user-menu   .dropdown-toggle{
    width: 50px !important;
  }
}